<!--
1      # Citation # 1 for the following code (navigation bar HTML and CSS styling):
2      # Date: 05/02/2024
3      # Code was adapted from GreatStack - How To Make Website Using HTML And CSS | Website Design With HTML And CSS:
4      # Source URL: https://www.youtube.com/watch?v=PgAZ8KzfhO8

1      # Citation # 2 for the following code (css styling for navigation):
2      # Date: 05/02/2024
3      # Code was adapted from the W3 CSS:
4      # Source URL: https://www.w3schools.com/html/html_css.asp

1      # Citation # 3 for the following code (table formation for plants and form creation for adding plants):
2      # Date: 05/02/2024
3      # Code was adapted from the Exploration - Web Application Technology (Professor Curry - Walkthrough Video # 1):
4      # Source URL: https://canvas.oregonstate.edu/courses/1958399/pages/exploration-web-application-technology?module_item_id=24181847

1      # Citation # 4 for the following code (plant adding form):
2      # Date: 05/02/2024
3      # Code was adapted from W3 School for HTML Forms/input types:
4      # Source URL: https://www.w3schools.com/html/html_forms.asp

1      # Citation # 5  for the following code (General CSS):
2      # Date: 05/04/2024
3      # Code was adapted from W3 School for general CSS:
4      # Source URL: https://www.w3schools.com/w3css/defaulT.asp

1      # Citation # 6: for the following code (STEP 6 - APPLYING QUERIES TO APP TO DISPLAY DATA):
2      # Date: 05/19/2024
3      # Code was adapted from Flask Starter Code: OSU bsg-ppl example (Step 6):
4      # Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/tree/master

1      # Citation # 7: for the following code (Jinja 2 templates - Expressions/Loops):
2      # Date: 05/19/2024
3      # Code was adapted from Flask Starter Code: OSU bsg-ppl example (Step 6):
4      # Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/tree/master
-->

 <!-- CSS styling combination of GreatStack Youtube/W3 School for CSS (CITATION 1/5) --> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backyard Blooms</title>
    <style>
        nav li {
            list-style: none;
            display: inline-block;
            background-color: rgb(160, 245, 216);
            border-radius: 5px;
            padding: 5px;
            margin: 7px;
            }

        nav li a{
            font-size: 15px;
            font-weight: bold;
            margin-top: 100px;
            padding: 10px;
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        nav li a:hover{
            background: none;
            color: green;
        }

        nav H1{
            color: rgb(9, 89, 143);
            font-weight: bold;
            font-size: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        body {
            background-color: rgb(237, 177, 177);
        }

        th {
            padding: 7px;
            border-radius: 5px;
            margin-bottom: 50px;
            background-color: lightblue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        td {
            padding: 8px;
            border-radius: 10px;
            border: 5px;
            margin-bottom: 50px;
            background-color: lavender;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        table {
            margin-top: 100px;
            
        }
        form{
            margin-top: 80px;
            font-size: 22px;
            padding: 10px;
            max-width: 600px;
            margin: 20px;
            background-color: rgb(193, 242, 193);
            border-radius: 20px;
            border: 3px solid black;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        fieldset{
            border: 3px solid black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        legend {
            font-weight: bold;
            font-size: 25px;
        }
        input{
            display: block;
        }
        select {
            display: block;
            width: 100px;
        }
    </style>

<!-- Navigation Bar for subsequent pages (see citation 1/2) --> 

</head>
<body>
    <nav>
        <H1>Backyard Blooms</H1>
        <p><strong>View/Add/Update/Delete GardenBed-Amendments Intersection</strong></p>
        <ul>
            <li><a href="home">Home</a></li>  
            <li><a href="plants">Plants</a></li> 
            <li><a href="species">Species</a></li> 
            <li><a href="harvests">Harvests</a></li> 
            <li><a href="gardenbeds">Garden Beds</a></li> 
            <li><a href="amendments">Amendments</a></li> 
            <li><a href="gardenbedamendments">Garden Bed Amendments</a></li> 
        </ul>
    </nav>

 <!-- Citation # 6 - FLASK STARTER CODE - APPLYING QUERIES TO APP -->
<!-- Citation # 7 - Jinja 2 Templates -->

<table>
    <thead>
    <tr>
        <!-- Header Names -->
        {% for key in GardenBedAmendments[0].keys() %}

        <!-- Header Row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Go through every gbamend in GardenBedAmendments -->
    {% for gbamend in GardenBedAmendments %}
    <tr>
        <!-- Then iterate through every key in the current gardenbedamendments dictionary -->
        {% for key in gbamend.keys() %}

        <!-- Create a element with gardenbed amendments -->
        <td>{{gbamend[key]}}</td>
        {% endfor %}

        <!-- Delete/Update Button-->
        <td><a href="update_gbamendment/{{gbamend.garden_bed_amendments_id}}">Update</a></td>
        <td><a href="delete_gbamendment/{{gbamend.garden_bed_amendments_id}}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

<!-- Citation # 7 - Jinja 2 Templates -->

     <!-- Form creation for add/update (see citation 3/4) --> 
    <form action="/gardenbedamendments" method="POST"> 
        <legend>Add Garden Bed Amendment</legend>
        <fieldset>
            <label for="">Garden Bed ID </label>
            <select id="gbid" name="gbid">
                <option value="">Select</option>
                {% for gb in GardenBeds %}
                    <option value="{{ gb.garden_bed_id }}">{{ gb.garden_bed_id}} - {{ gb.garden_bed_name}}</option>
                {% endfor %}
            </select>
            <label for="">Amendment</label>
            <select id="amendid" name="amendid">
                <option value="">Select</option>
                {% for amend in Amendments %}
                    <option value="{{ amend.amendment_id }}">{{amend.amendment_type}} - {{amend.amendment_quantity}}</option>
                {% endfor %}
       
            </select>
            <button name="add_gardenbed_amendment" value="add_gardenbed_amendment">Submit</button>
        </fieldset>
    </form>
         <!-- Form creation for add/update (see citation 3/4) --> 
    <form action="" name = updategardenbedamendment> 
        <legend>Update Garden Bed Amendment</legend>
        <fieldset>
            <label for="">Garden Bed Amendments ID </label>
            <select name="updategardenbedamendmentid" id="">
                <option value="">Select</option>
            </select>
            <label for="">Garden Bed ID </label>
            <select name="updategardenbedamendmentid" id="">
                <option value="">Select</option>
            </select>
            <label for="">Amendment</label>
            <select name="updategardenbedamendmentname" id="">
                <option value="">Select</option>
            </select>
            <button>Submit</button>
        </fieldset>
    </form>
</body>
</html>