<table>
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in Species[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every plant in Species -->
    {% for plant in Species %}
    <tr>
        <!-- Then iterate through every key in the current plant dictionary -->
        {% for key in plant.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{plant[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>